{% for error in form.errors %}
  <div class="error">
    {% if error == 'form' %}
      {{ form.errors.messages[error] }}
    {% else %}
      {{ form.errors.translated_fields[error] }} {{ form.errors.messages[error] }}
    {% endif %}
  </div>
{% endfor %}



{% style %}
  .errors li,
  .error {
    font-size: 12px;
    color: red;
    list-style: none;
  }
{% endstyle %}